.pictureHeader{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 100%;
    grid-column-gap: 20px;
    margin-left: 20px;
}

.homeImg {
    width: 100%;
    height: 90%;
    grid-row: 1;
}

#pinguineImg {
    grid-column: 1;
}

#giraffeImg {
    grid-column: 2;
}

#savanneImg {
    grid-column: 3;
}

.header-title{
    font-weight: bold;
}

#title-red{
    color: red;
}

.oeffnungZeiten {
    text-align: left;
    padding-left: 20px;
}

.oeffnungTitle {
    font-weight: bold;
}

.link {
    text-align: left;
    padding-bottom: 75px;
}