#impressum-main{
    padding: 10px;
    background-color: #d6d6d6;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 10px;
}
.impressum-paper{
    padding: 10px;
}