#security-main{
    padding: 10px;
    background-color: #d6d6d6;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto 45px;
    grid-row-gap: 10px;
}
.security-paper{
    padding: 10px 70px 50px 70px;
}
.security-small-paper{
    padding: 10px 70px 20px 70px;
}