td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.ti1{
    margin-right: 1em;
}
.ti2{
    margin-left: 200px;
}


.flex { display: flex; }

.addButton{
    float: right;
    margin-right: 50px;
}